Debug
Release
obj
.v15/**
.vs/**
packages/**
/SoluiNet.DevTools.UI/ConnectionStrings.config
/SoluiNet.DevTools.UI/Settings.xml
/UpgradeLog2.htm
/UpgradeLog.htm
/**/*.ConnectionStrings.config
*.old
*.TMP
*.user
/SoluiNet.DevTools.Utils.TimeTracking/icons/*.png
*tmp.csproj
/SoluiNet.DevTools.Core/log.txt
/api_documentation/**
*.upgrade-assistant
/SoluiNet.DevTools.UI.backup
/log.txt
*.backup
/SoluiNet.DevTools.UI/NHibernate.config
