Debug
Release
obj
.v15/**
.vs/**
packages/**
/SoluiNet.DevTools.UI/ConnectionStrings.config
/SoluiNet.DevTools.UI/Settings.xml
/UpgradeLog2.htm
/UpgradeLog.htm
/**/*.ConnectionStrings.config
*.old
*.TMP
*.user
/SoluiNet.DevTools.Utils.TimeTracking/icons/*.png
*tmp.csproj
/SoluiNet.DevTools.Core/log.txt
/api_documentation/**
*.upgrade-assistant
/SoluiNet.DevTools.UI.backup
/log.txt
*.backup
/SoluiNet.DevTools.UI/NHibernate.config
/SoluiNet.DevTools.Console/SoluiNet - Backup.DevTools.Console.csproj
/SoluiNet.DevTools.UI.Blazor/wwwroot/images/logo.svg
/SoluiNet.DevTools.Console/api
/SoluiNet.DevTools.Console/articles
/SoluiNet.DevTools.Mobile/SoluiNet.DevTools.Mobile/api
/SoluiNet.DevTools.Mobile/SoluiNet.DevTools.Mobile/articles
/SoluiNet.DevTools.Mobile/SoluiNet.DevTools.Mobile/log.txt
/SoluiNet.DevTools.Mobile/SoluiNet.DevTools.Mobile/index.md
/SoluiNet.DevTools.Mobile/SoluiNet.DevTools.Mobile/.gitignore
/SoluiNet.DevTools.Console/log.txt
/SoluiNet.DevTools.Console/index.md
/SoluiNet.DevTools.Console/.gitignore
