<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
    <property name="connection.connection_string">
      Data Source=%LocalAppData%\SoluiNet.DevTools\Finance.sqlite;Version=3;New=True;
    </property>

    <mapping assembly="SoluiNet.DevTools.Management.Finances" />
  </session-factory>
</hibernate-configuration>